/**
 * @file
 * Custom css style rules for
 */

li.translation_ml, li.translation_en {
  float: right;
}

.view-id-speakers table,
.view-id-speakers tbody,
.view-id-speakers tr,
.view-id-speakers td {
  border: none !important;
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
}
.view-id-speakers tbody > tr > td a img {
  border-radius: 10px;
}

p.speaker-description {
  padding: 3% 0;
  border-radius: 10px;
  text-align: justify;
  line-height: 30px;
}
div.speaker-image {
  border-radius: 10px;
}
div.speaker-image img {
  border-radius: 10px;
  border: 1px solid #e1e1e1;
}
h4.speaker-facebook a{
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}
h3 > span.session-speaker-label {
  font-size: small;
}
div#main-menu > ul > li.last.leaf > a{
  background: #3b5998;
  color: white;
  font-weight: bolder;
}
.field-content {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.box {
  position: absolute;
  width: 100%;
  height: 100%;
}
.speaker-overlay {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #f4473a;
  border-radius: 10px;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
.speaker-overlay:hover {
  opacity: 0.8;
}
.speaker-overlay h4{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bolder;
}
